/**
 * color
 * main color to use
 */
$default-text: #333;
$blue-text: #3c86e5;
$blue-button: #4da5ef;
$blue-sq: rgba(51,141,214,0.95);
$blue1: #67c6cf;
$gray-6: #666;
$gray-9: #999;
$gray-c: #ccc;
$gray-f6: #f8f8f8;
$gray-f3: #f3f3f3;
$gray-e7: #e7e7e7;
$gray-b: #bbbcbc;
$gray-b7: #b7b7bb;
$black-3: #373d41;
$black-4: #4b5054;
$black-6: #6f7376;
$context-color: #d2d2d2;
$gold:#d2b988;
$transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
ul,li{
  list-style: none;
}
a{
  color: $default-text;
}
.cursor-default{
  cursor: default !important;
}
header{
  &.black{
    background-color: $black-3
  }
  height: 70px;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  .container{
    padding:{
      left: 0;
      right: 0;
    };
    height: 70px;
    line-height: 70px;
    .logo{
      span{
        color: #fff;
        font-size: 18px;
        margin: {
          left: 12px;
        }
      }
    }
  }
  .navleft{
    &>li{
      float:left;
      margin-right: 42px;
      position: relative;
      &>a{
        color: #fff;
        font-size: 14px;
        transition: $transition;
        cursor: pointer;
        &:hover{
          color: $gray-b7;
          text-decoration: none;
        }
      }
      &:hover .navChild{
        opacity: 1;
        top: 70px;
        visibility: visible;
      }
      &>.navChild{
        transition: $transition;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 80px;
        left: -16px;
        background-color: #fff;
        border-radius: 3px;
        width: auto;
        white-space: nowrap;
        padding: {
          top: 16px;
          bottom: 20px;
          left: 22px;
          right: 22px;
        }
        &:after{
          content: "" !important;
          display: block !important;
          position: absolute !important;
          top: -9px !important;
          left: 20px !important;
          width:0 !important;
          height:0 !important;
          border-left:18px solid transparent !important;
          border-right:18px solid transparent !important;
          border-bottom:18px solid #fff !important;
        }
        li{
          line-height: 36px;
          font-size: 14px;
          a{
            color: $default-text;
            cursor: pointer;
            transition: $transition;
            &:hover{
              color: $blue-text;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
.bannerWrap{
  height: 500px;
  background:#f3f3f3 50% 50% no-repeat;
  background-size: cover;
  &.banner-index{
    background-image: url(../images/banner.jpg)
  }
  a{
    display: block;
    height: 100%;
    .container{
      position: relative;
      height: 100%;
      .height-md{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        h2{
          font-size: 56px;
          color: #fff;
        }
        p{
          font-size: 24px;
          margin: {
            top: 20px;
          }
          color: #fff;
        }
        button{
          outline: none;
          transition: $transition;
          background: transparent;
          width: 120px;
          height: 44px;
          margin-top: 56px;
          text-align: center;
          font-size: 16px;
          color: #fff;
          border: {
            width: 1px;
            color: #fff;
            style: solid;
          }
          &:hover{
            background-color: #fff;
            color: #0c0821;
          }
        }
      }
    }
  }
}

.moduleWrap{
  padding: {
    top: 60px;
    bottom: 60px;
  }
  .container{
    h3{
      text-align: center;
      font-size: 22px;
    }
    p{
      text-align: center;
      font-size: 14px;
      color: $gray-6;
      padding: {
        top: 10px
      }
    }
  }
}

#solution{
  .col-md-4{
    padding: 0;
    padding-right: 30px;
  }
  .solution-col{
    margin: {
      top: 50px;
    }
    &:nth-child(2){
      margin: {
        left: 30px;
        right: 30px;
      }
    }
    padding: {
      top: 30px;
      left: 32px;
      bottom: 30px;
      right: 32px;
    };
    border: {
      width: 1px;
      style: solid;
      color: $gray-e7;
    }
    box-sizing: border-box;
    .image-title{
      padding: {
        bottom: 10px
      }
      border: {
        bottom: {
          color: $gray-c;
          style: dashed;
          width: 1px;
        }
      }
      h4{
        text-align: center;
        color: $blue-text;
        img{
          margin-right: 18px;
        }
      }
    }
    p{
      text-align: left;
      padding: {
        top: 30px;
      }
    }
  }
}

#product{
  background-color: $gray-f6;
  .col-md-3{
    .blue-title{
      margin-top: 53px;
      background: url(../images/blue-title.jpg) 50% 50% no-repeat;
      background-size: cover;
      h4{
        color: #fff;
        margin: {
          bottom: 0;
        };
        padding: {
          top: 20px;
          bottom: 20px;
        }
        text-align: center;
      }
    }
    .product-content{
      background-color: #fff;
      height: 252px;
      p{
        text-align: left;
        padding: 10px 30px 0;
        line-height: 48px;
        box-sizing: border-box;
      }
    }
  }
}

#service{
  background-color: $black-3;
  .col-md-4{
    height: 500px;
    cursor: pointer;
    text-align: center;
    position: relative;
    &:nth-child(1){
      background: url(../images/service_bg1.jpg) 50% 50% no-repeat;
      background-size: cover;
    };
    &:nth-child(2){
      background: url(../images/service_bg2.jpg) 50% 50% no-repeat;
      background-size: cover;
    };
    &:nth-child(3){
      background: url(../images/service_bg3.jpg) 50% 50% no-repeat;
      background-size: cover;
    }
    .bgcontent{
      position: absolute;
      width: 100%;
      z-index: 30;
      top: 150px;
      left: 0;
      transition: $transition;
      .imgWrap{
        height: 69px;
        display: inline-block;
        margin: {
          bottom: 40px;
        }
        position: relative;
        .img-default,.img-hover{
          position: absolute;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          transition: $transition;
        }
        .img-default{
          opacity: 1;
        }
        .img-hover{
          opacity: 0;
        }
      }
      .line-white{
        height: 2px;
        width: 30px;
        background-color: #fff;
        transition: $transition;
        margin: {
          top: 0;
          bottom: 30px;
          left: auto;
          right: auto;
        }
      }
      h4{
        font-size: 22px;
        color: #fff;
        transition: $transition;
      }
      p{
        transition: $transition;
        margin: {
          top: 30px;
          bottom: 60px;
          left: auto;
          right: auto;
        }
        font-size: 14px;
        color: #fff;
        line-height: 38px;
        max-width: 206px;
        opacity: 0;
      }
      a{
        transition: $transition;
        font-size: 16px;
        display: block;
        margin: 0 auto;
        color: #fff;
        width: 124px;
        height: 46px;
        border: 1px solid #fff;
        line-height: 46px;
        opacity: 0;
        &:hover{
          background-color: #fff;
          color: $blue-sq;
          text-decoration: none;
        }
      }
    }
    .bgBlack{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      z-index: 20;
      background-color: rgba(0,0,0,0.4);
      transition: $transition;
    }
    &:hover .img-default{
      opacity: 0 !important;
    }
    &:hover .img-hover{
      opacity: 1 !important;
    }
    &:hover .bgBlack{
      background-color: $blue-sq;
    }
    &:hover .bgcontent{
      top: 13%;
    }
    &:hover p{
      opacity: 1 !important;
    }
    &:hover a{
      opacity: 1 !important;
    }
    &:hover .line-white{
      opacity: 0 !important;
      display: none;
    }
  }
}

#partner{
  .row{
    margin: {
      top: 52px;
    }
  }
  .col-md-3{
    padding: 0;
    //padding-right: 20px;
    &:nth-child(1),&:nth-child(5){
      &>.imgWrap{
        margin-left: 0;
      }
    }
    &:nth-child(4),&:nth-child(8){
      &>.imgWrap{
        margin-right: 0;
      }
    }
  }
  .imgWrap{
    height: 200px;
    margin: {
      left: 10px;
      right: 8px;
      top: 10px;
      bottom: 10px;
    };
    padding: 0;
    text-align: center;
    line-height: 200px;
    background-color: $gray-f6;
  }
}

footer{
  background-color: $black-3;
  padding-bottom: 30px;
  h1{
    font-size: 24px;
    color: #fff;
    line-height: 32px;
    margin: {
      top: 40px;
      bottom: 40px;
    };
    img{
      vertical-align: middle;
    }
    span{
      vertical-align: middle;
    }
  }
  .row{
    nav{
      ul{
        padding: 0;
        margin-bottom: 20px;
        li{
          position: relative;
          &:not(:last-child):after{
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -14px;
            width: 2px;
            height: 2px;
            border-radius: 50%;
            background-color: $black-6;
          }
          margin: {
            right: 30px;
          }
          a{
            color: $black-6;
            font-size: 16px;
            text-decoration: none;
            transition: $transition;
            &:hover{
              color: #fff;
            }
          }
        }
      }
    }
    p{
      color: $black-6;
      font-size: 16px;
      line-height: 38px;
    }
    .websiteInfor{
      color: $black-6;
      font-size: 14px;
      .col-md-6{
        padding: 0;
        margin-bottom: 20px;
        img{
          margin-right: 24px;
        }
        span{
          cursor: pointer;
          transition: $transition;
          &:hover{
            color: #fff;
          }
        }
      }
    }
  }
}


/**
 * PAGE solution3.html*
 */
 .banner-solution{
   height: 400px;
   background:#f3f3f3 50% 50% no-repeat;
   background-size: cover;
   &.banner-solution3{
     background-image: url(../images/banner-solution.jpg)
   }
   a{
     display: block;
     height: 100%;
     .container{
       position: relative;
       height: 100%;
       .height-md{
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         h2{
           font-size: 46px;
           color: #fff;
         }
         p{
           font-size: 24px;
           margin: {
             top: 42px;
           }
           color: #fff;
         }
       }
     }
   }
 }

.solution-content{
  .container{
    h3{
      padding: {
        top: 40px;
        bottom: 14px;
      }
      border: {
        bottom: {
          color: $context-color;
          style: dashed;
          width: 1px;
        }
      }
    }
    p{
      line-height: 30px;
    }
    .imgWrap{
      img{
        width: 100%;
      }
    }
    ul{
      padding: {
        left: 20px;
        bottom: 70px;
      }
      li{
        position: relative;
        line-height: 30px;
        &:before{
          content: "";
          display: block;
          width: 8px;
          height: 8px;
          position: absolute;
          top: 50%;
          left: -16px;
          transform: translateY(-50%);
          background-color: $gray-6;
          border-radius: 50%;
        }
      }
    }
  }
}

/**
 *PAGE new.html*
 */
 .banner-news{
   height: 400px;
   background:#f3f3f3 50% 50% no-repeat;
   background-size: cover;
   &.news-main{
     background-image: url(../images/banner-news.jpg)
   }
   a{
     display: block;
     height: 100%;
     .container{
       position: relative;
       height: 100%;
       .height-md{
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%,-50%);
         h2{
           font-size: 80px;
           color: #fff;
           text-align: center;
         }
         p{
           font-size: 22px;
           text-align: center;
           margin: {
             top: 28px;
           }
           color: #fff;
         }
       }
     }
   }
 }

.newsUl{
  padding: 0;
  width: 100%;
  li{
    a{
      display: block;
      height: 200px;
      &:hover{
        text-decoration: none;
      }
      &:hover h3{
        color: $blue-text;
      }
    }
    height: 200px;
    display: table;
    margin-top: 60px;
    border-collapse: collapse;
    border-spacing: 0;
    .newsTime{
      display: table-cell;
      vertical-align: middle;
      width: 12.5%;
      height: 100%;
      position: relative;
      .newsTimeWrap{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        text-align: right;
        padding-bottom: 34px;
        border: {
          bottom: {
            color: $gray-e7;
            style: solid;
            width: 1px;
          }
        }
        .newsYear{
          color: $gray-9;
          font-size: 14px;
          padding-right: 8px;
          margin-bottom: 10px;
        }
        .newsMonth{
          padding: {
            right: 8px;
          }
          font-size: 24px;
          font-weight: bold;
          color: $default-text;
        }
      }
    }
    .imgWrap{
      display: table-cell;
      vertical-align: middle;
      width: 26.666666%;
    }
    .newsContext{
      display: table-cell;
      width: 60.83333333%;
      height: 200px;
      padding: 10px 0 0 36px;
      box-sizing: border-box;
      position: relative;
      h3{
        transition: $transition;
        margin: {
          bottom: 14px;
        }
        color: $default-text;
      }
      .news-label{
        width:200px;
        color: $gray-9;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        &:after{
          content: "";
          display: block;
          height: 2px;
          width: 10px;
          background-color: $blue1;
          margin: {
            top: 10px;
            bottom: 10px;
          }
        }
      }
      .newsText{
        height: 40px;
        font-size: 12px;
        color: $gray-9
      }
      .readMore{
        position: absolute;
        bottom: 0px;
        right: 0;
      }
    }
  }
}
.pagination{
  margin: {
    bottom: 82px !important;
  }
  li{
    float: left;
    height: 32px;
    color: $gray-9;
    text-align: center;
    line-height: 32px;
    border-radius: 3px;
    cursor: pointer;
    margin: {
      right: 10px;
    }
    padding: {
      left: 10px;
      right: 10px;
    }
    border: {
      style:solid;
      width: 1px;
      color: $gray-e7;
    }
    &.active{
      border: {
        color: $blue-text;
      }
      color: $blue-text;
    }
  }
}

/**
 *PAGE ABOUT.HTML*
 */
 .banner-about{
   height: 400px;
   background:#f3f3f3 50% 50% no-repeat;
   background-size: cover;
   &.about-main{
     background-image: url(../images/banner-contact.jpg)
   }
   a{
     display: block;
     height: 100%;
     .container{
       position: relative;
       height: 100%;
       .height-md{
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%,-50%);
         h2{
           font-size: 80px;
           color: #fff;
           text-align: center;
         }
         p{
           font-size: 22px;
           text-align: center;
           margin: {
             top: 28px;
           }
           color: #fff;
         }
       }
     }
   }
 }
.about-container{
  padding: {
    left: 60px !important;
    bottom: 46px !important;
  }
  .col-md-7,.col-md-5,.col-md-12{
    padding: 0;
  }
  .about-title{
    h2{
      font-size: 22px;
      margin-top: 62px;
    }
    p{
      font-size: 12px;
      color: $gray-9;
      margin: {
        bottom: 32px;
        top: 14px;
      }
    }
  }

  .about-form{
    .col-md-6{
      padding: 0;
      padding-right: 40px;
      margin-bottom: 30px;
      input[type='text']{
        border: 1px solid $gray-c;
        width: 100%;
        padding: {
          top: 14px;
          bottom: 14px;
          left: 12px;
        }
      }
    }
    .col-md-12{
      padding-right: 40px;
      textarea{
        width: 100%;
        resize: none;
        border: 1px solid #ccc;
        padding: {
          top: 14px;
          left: 14px;
        }
      }
      button{
        height: 41px;
        line-height: 41px;
        padding: 0 40px;
        background-color: $blue-button;
        color: #fff;
        outline: none;
        border: none;
        border-radius: 3px;
        font-size: 16px;
        margin: {
          top: 30px;
        }
      }
    }
  }
}
/**
 *PAGE joinus.html*
 */
 .banner-joinus{
   height: 400px;
   background:#f3f3f3 50% 50% no-repeat;
   background-size: cover;
   &.joinus-main{
     background-image: url(../images/banner-joinus.jpg)
   }
   a{
     display: block;
     height: 100%;
     .container{
       position: relative;
       height: 100%;
       .height-md{
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%,-50%);
         h2{
           font-size: 80px;
           color: #fff;
           text-align: center;
         }
         p{
           font-size: 22px;
           text-align: center;
           margin: {
             top: 28px;
           }
           color: #fff;
         }
       }
     }
   }
 }

.joinusWrap{
  background-color: $gray-f6;
  padding-bottom: 50px;
}

.joinus-title{
  margin: {
    top: 20px;
    bottom: 30px;
  }
  h2{
    font-size: 24px;
  }
  p{
    font-size: 14px;
  }
}

.joinusList{
  padding-left: 0;
  li{
    width: 100%;
    background-color: #fff;
    height: 234px;
    // padding: {
    //   top: 22px;
    //   bottom: 22px;
    // }
    margin: {
      bottom: 30px;
    }
    display: table;
    .profession-name{
      display: table-cell;
      vertical-align: middle;
      width: 36.16666666666%;
      padding-left: 58px;
      border-right: 1px dashed $gray-c;
      h4{
        font-size: 18px;
        margin: {
          bottom: 14px;
        }
      }
      p{
        color: $gold;
        font-size: 12px;
      }
    }
    .profession-infor{
      display: table-cell;
      vertical-align: middle;
      width: 47%;
      padding: {
        top: 10px;
        bottom: 10px;
        left: 28px;
      }
    }
    .imgWrap{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
}

/**
 * PAGE ABOUT.html*
 */
 .banner-company{
   height: 400px;
   background:#f3f3f3 50% 50% no-repeat;
   background-size: cover;
   &.company-main{
     background-image: url(../images/banner-about.jpg)
   }
   a{
     display: block;
     height: 100%;
     .container{
       position: relative;
       height: 100%;
       .height-md{
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         h2{
           font-size: 46px;
           color: #fff;
         }
         p{
           font-size: 24px;
           margin: {
             top: 36px;
           }
           color: #fff;
         }
       }
     }
   }
 }

.company-title{
  text-align: center;
  h2{
    font-size: 22px;
    margin-top: 64px;
  }
  p{
    color: $gray-c;
    font-size: 12px;
    margin-bottom: 64px;
  }
}
.company-wrap{
  .col-md-5{
    padding: 0;
    padding-right: 70px;
    img{
      width: 100%;
      margin-top: 10px;
    }
  }
  .col-md-7{
    padding: 0;
    line-height: 30px;
    p{
      margin-bottom: 26px;
      font-size: 14px;
      color: $gray-6;
    }
  }
  .col-md-12{
    padding: 0;
    h3{
      color: $gray-b;
      font-size: 16px;
    }
    span{
      color: $gray-9;
      font-size:12px;
      display: block;
      margin-top: 14px;
      margin-bottom: 26px;
    }
    .vision-content{
      p{
        line-height: 40px;
        font-size: 14px;
        color: $gray-6;
      }
    }
  }
}
/**
 * PAGE newsIn.html*
 */
.newsIncontainer{
  background-color: #f1f1f1;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
    .newsIn-nav{
      text-align: left;
      font-size: 14px;
      position: absolute;
      top: -40px;
      left: 0;
      .xline{
        margin: 0 4px;
        color: $gray-9;
      }
      #newsNav{
        color: $gray-9;
      }
    }
    .container{
      background-color: #fff;
      padding: 0 40px 60px;
      position: relative;
    }
    p{
      text-align: left;
      margin: 15px 0;
      font-size: 15px;
      line-height: 1.8em;
    }
    #newsTitle+p{
      text-align: center;
      color: $gray-9;
    }
    h2{
      font-size: 26px;
      margin-top: 60px;
      color: #555;
    }
    hr{
      margin: 30px 0;
      border: 1px solid $gray-f6;
    }
    img{
      max-width: 100%;
    }
}
